In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.express as px
from plotly.subplots import make_subplots

In [68]:
df = pd.read_csv("tv_shows.csv")
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

In [70]:
df["Title"].value_counts(dropna=False)

Breaking Bad                             1
Fresh Meat                               1
Doctor Thorne                            1
Hustle                                   1
NOVA                                     1
                                        ..
Masha's Spooky Stories                   1
Trotro                                   1
Styling Hollywood                        1
Vai Anitta                               1
Fearless Adventures with Jack Randall    1
Name: Title, Length: 5368, dtype: int64

In [71]:
df["Year"].value_counts(dropna=False)

2017    605
2018    562
2019    500
2020    489
2016    486
       ...
1943      1
1932      1
1947      1
1904      1
1945      1
Name: Year, Length: 78, dtype: int64

In [72]:
df["Age"].value_counts(dropna=False)

NaN    2127
16+     995
18+     854
7+      831
all     552
13+       9
Name: Age, dtype: int64

In [73]:
df["IMDb"].value_counts(dropna=False)

NaN       962
7.4/10    208
7.3/10    191
7.6/10    191
7.5/10    183
         ...
1.9/10      1
1.5/10      1
2.7/10      1
1.1/10      1
9.5/10      1
Name: IMDb, Length: 79, dtype: int64

In [74]:
df["IMDb"] = df["IMDb"].fillna(0)
df["IMDb"]= df["IMDb"]*10

In [75]:
df["IMDb"].head()

0    9.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/...
1    8.7/108.7/108.7/108.7/108.7/108.7/108.7/108.7/...
2    9.0/109.0/109.0/109.0/109.0/109.0/109.0/109.0/...
3    8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...
4    8.8/108.8/108.8/108.8/108.8/108.8/108.8/108.8/...
Name: IMDb, dtype: object

In [77]:
df["IMDb"] = df["IMDb"].astype(int)

ValueError: invalid literal for int() with base 10: '9.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/109.4/10'

In [ ]:
df["Rotten Tomatoes"].value_counts(dropna=False)

10/100     304
13/100     174
45/100     135
51/100     131
52/100     125
          ...
91/100       4
94/100       2
95/100       2
100/100      2
96/100       1
Name: Rotten Tomatoes, Length: 85, dtype: int64

In [ ]:
df["Netflix"].value_counts(dropna=False)

0    3397
1    1971
Name: Netflix, dtype: int64

In [ ]:
df["IMDb"] = df["IMDb"].apply(lambda x : x.rstrip('/10'))

AttributeError: 'float' object has no attribute 'rstrip'

In [ ]:
df["IMDb"] = pd.to_numeric(df["IMDb"])

ValueError: Unable to parse string "9.4/10" at position 0

In [ ]:
df["Rotten Tomatoes"] = df["Rotten Tomatoes"].apply(lambda x : x.rstrip('/100'))

In [ ]:
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93,1,0,0,0,1

In [ ]:
df["Rotten Tomatoes"] = pd.to_numeric(df["Rotten Tomatoes"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5062 non-null   float64
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: float64(1), int64(8), object(3)
memory usage: 503.4+ KB